.git
.github
.vercel
.pytest_cache
__pycache__
*.pyc
.env
.env.*
*.env
backend/.env
frontend/.env
frontend/.env.production.local
frontend/node_modules
frontend/build
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tgz
docs
memory
